# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# MacOS
.DS_Store
__MACOSX

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Data
unsynceddata/

# Nilearn download
nilearn_cache/joblib

# Lab0
Lab0-beginners-guide/kiwi-data
Lab0-beginners-guide/kiwi-results
Lab0-beginners-guide/testdata
Lab0-beginners-guide/._assets
Lab0-beginners-guide/._kiwi-data

# Lab3
Lab3-diffusion-MRI/data/Lab3_LG_Prisma_20160218_DICOM
Lab3-diffusion-MRI/data/Lab3_LG_Prisma_20160218_NIFTI
